*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
@media screen and (max-width:768px) and (orientation:portrait){
    body{
        background-color: #1e1e1e ;
        font-family: sans-serif;
        color: #a0a0a0;
        line-height: 1.5;
    }
    .main-container{
        display: grid;
        max-width: 1200px;
        grid-template-columns: 350px 1fr;
        gap: 40px;
    }
    .sidebar{
        height: 90vh;
        background-color: #2a2a2a;
        border: 1px solid #3a3a3a;
        border-radius: 16px;
        padding: 30px;
        position: sticky;
        top: 40px;
    }
    .main-content{
        height: 90vh;
        background-color: #2a2a2a;
         border: 1px solid #3a3a3a;
        border-radius: 16px;
    }
}
@media screen and (max-width:6000px) and (orientation:landscape){
    body{
        background-color: #1e1e1e ;
        font-family: sans-serif;
        color: #a0a0a0;
        line-height: 1.6;
    }
    .main-container{
        display: grid;
        max-width: 1200px;
        grid-template-columns: 350px 1fr;
        gap: 50px;
        padding-top: 40px;
        margin: auto;
    }
    /* Side Bar */
    .sidebar{
        height: 90vh;
        background-color: #2a2a2a;
        border: 1px solid #3a3a3a;
        border-radius: 16px;
        padding: 30px;
        position: sticky;
        top: 40px;
    }

    /* Profile */
    .profile{
       text-align: center;
       color: #e0e0e0;
    }
    .profile img{
        height: 120px;
        width: 120px;
        border: 2px solid #3a3a3a;
        border-radius: 50%;
        object-fit: cover;
    }
    .profile h2{
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 20px;
    }
    .profile p{
        background-color: #1e1e1e;
        padding: 5px 15px;
        color: #FFBF00;
        border: 1px solid #3a3a3a;
        font-size: 0.8rem;
        border-radius: 8px;
        display: inline-block;
        margin-top: 10px;
    }

    /* Contact  */
    .contact{
        margin-top: 30px;
        border-top: 2px solid #3a3a3a;
        padding-top: 20px;
    }
    .contact-h3{
        font-weight: 500;
        font-size: 0.8rem;
        color: #a0a0a0;
    }
    .value-a{
        color: #e0e0e0;
        text-decoration: none;
    }
    .email, .phone{
        margin-bottom: 15px;
    }

    /* social */
    .social{
        margin-top: 30px;
        border-top: 1px solid #3a3a3a;
        padding-top: 20px;
        text-align: center;
    }
    .social img{
        height: 40px;
        width: 40px;
        margin-left: 5px;
        filter:grayscale(1) invert(0.7);
        transition: filter 0.3s ease;
    }
    .social img:hover{
        filter:grayscale(0) invert(0);
    }

    .main-content{
        background-color: #2a2a2a;
        border: 2px solid #3a3a3a;
        border-radius: 16px;
        padding: 40px;
    }

    /* navbar */
    #navbar{
        border-bottom: 2px solid #3a3a3a;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
    nav a{
        text-decoration: none;
        color: #a0a0a0;
        font-weight: 500;
        transition: color 0.3s ease;
        position: sticky;
    }
    .active, nav a:hover{
        color: #FFBF00;
    }

    /* about me */
    .heading{
        color: #e0e0e0;
        font-size: 2rem;
        
    }
    /* underline */
    .line{
        border-left: 1px solid #FFBF00;
        padding: 1px;
        border-radius: 50%;
        margin-bottom: 20px;
    }
    .content{
        text-align: justify;
        color: #a0a0a0;
        padding-bottom: 10px;
    }

    /* skill section */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 30px;
    }
    .items{
        margin-top: auto;
        padding: 15px;
        border-radius: 10px;        
        border: 2px solid #3a3a3a;
        background-color: #1e1e1e;
        text-align: center;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }
    .items:hover{
        transform: scale(1.1);
        box-shadow: 0px 0px 5px 2.5px #FFBF00;
    }
    .items img{
       height: 48px;
       width: 48px;
       filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
       margin-bottom: 15px;
    }
    .item h3{
        font-size: 1rem;
        font-weight: 300;
    }

    /* Experience */
    #experience{
        margin-top:20px;
    }
    #experience img{
        height: 85px;
        width: 85px;
        float: inline-end;
    }
    .role{
        color: #e0e0e0;
        font-size: 1.2rem;
    }
    .comp-name{
        color:#ffbf00e5;
        font-weight: 500;
        font-size: 1.5rem;
    }
    .overview{
        text-align: justify;
    }

    /* Projects */
    .project-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 20px;
        margin-top: 50px;
    }
    .project-list div{
        background: #262626;
        padding: 40px;
        font-size: 1rem;
        font-weight: 300;
        border-radius: 10px;
        transition: background 0.5s, transform 0.5s;
    }
    .project-list div:hover {
        background: #FFBF00;
        transform: translateY(-5px);
        color: #1e1e1e;
        cursor: pointer;
    }
    .project-list p{
        font-size: 15px;
    }

    /* education */
    #education{
        margin-top: 20px;
    }
    .edtech{
        position: relative;
    }
    .edfirst, .edsecond, .edthird{
        margin-bottom: 40px;
        padding-left: 25px;
        position: relative;
    }
    .dot{
        height: 15px;
        width: 15px;
        border: 4px solid #FFBF00;
        border-radius: 50%;
        position: absolute;
        top: 2.5px;
        left: 0px;
    }
    .side-liner{
        position: absolute;
        width: 2px;
        top :3px;
        bottom: 0px;
        left: 4.5px;
        border: 3px solid #3a3a3a;
    }
    .year{
        color: #a0a0a0;
        font-size: 0.9rem;
        margin-bottom: 2px;
    }
    .degree {
    color: #e0e0e0;
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2px;
    }
    .college{
        font-style:italic ;
        color: #a0a0a0;
    }
    .mark{
        color: #a0a0a0;
    }

    /* certificate */
    #certificate{
        position: relative;
    }
    .c1,.c2,.c3{
        margin-bottom: 10px;
        padding-left: 20px;
        position: relative;   
        color:#a0a0a0;
    }
    .dot2{
        height: 15px;
        width: 15px;
        border: 4.5px solid #FFBF00;
        border-radius: 50%;
        position: absolute;
        top: 4.5px;
        left:0px;
    }
    .c1 a,.c2 a,.c3 a{
        text-decoration: none;
        color: #e0e0e0;
    }
}